@keyframes fade-in{
    0%{
        opacity: 0 ;
    }
    100%{
        opacity: 1;
    }
}

body{
    background-image: url(images/nino.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transform: translateY(-2px);
    animation: fade-in 2;
}

.about{
    background-color: white;
    position: relative;
    size: 100px;
}