* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

.hero {
    position: fixed; /* Stick it to the top */
    top: 0;
    left: 0;
    width: 100%; /* Make it span the full width */
    height: 15vh; /* Adjust height as needed */
    background-color: black; /* Black background */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* White text color */
    z-index: 100; /* Ensure it stays above other elements */
}

.title {
    font-size: 70px; /* Adjust font size as needed */
    font-family: forum;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.head header{
    font-size: 36px;
    font-family: forum;
}




.wrapper{
    width: 380px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h2{
    font-size: 36px;
    text-align: center;
    font-family: forum;
    font-weight: 100;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 300;
    font-family: forum;
}

.wrapper .register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

